@{
    ViewData["Title"] = "Home Page";
}

<!-- Begin Page Content -->
<div class="tab-pane" id="warehouse1"></div>
<div class="tab-pane" id="warehouse2"></div>
<div class="tab-pane" id="warehouse3"></div>
<div class="tab-pane" id="report"></div>




